.leftside {
  height: 100vh;
  /* 100vh指的是全部的竖直高度 */
  width:100%;
}

@media screen and (max-width: 768px) {
			 .leftside {
				height: 50vh;
			 }
 }


.leftside{
    background-color:#f7f7f8;
  position:fixed;
  left:0px;
  top:74px;

}

.col-md-8{
  background:white;
  padding-top:74px;
}

.return{
  padding:2em 5em;

}

.category{
  padding:1.2em 5em;
}
.brief_intro, .con {
  padding:0.3em 5em;
}

/* .con:hover {
    box-shadow:0 2px 2px 2px rgba(0,0,0,0.1);
} */

.con p {
    margin-top:5%;
}

.navbar {
    position:fixed;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	background-color:white;
}

.navbar-brand {
	font-size:2em;
}

.nav-link {
	font-size:1.5em;
}

.navbar.navbar-expand-md.navbar-light {
	box-shadow:0 0 12px 0 rgba(0,0,0,0.24);
}

.ablock {
    margin: 0px auto;
    padding:0px 60px;
}

.content, .intro {
    padding-top:40px;
    padding-bottom:40px;
}

.content {
    border-top: solid 1px #D8D8D8;
}

.ablock h1 {
    padding-bottom:10px;
}

.choice button {
	border-radius:20px;
	padding:0.6em;
	border:2px solid #8080ff;
	background-color:white;
	color:black;
	margin-top:10px;
	width:15em;
}

.choice button:hover {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	background-color:#8080ff;
	color:white;
}

#expl {
    padding-top:1em;
}