
.aside-header .btn-group {
    background-color:white;
    border:1px solid rgb(176, 176, 183);
    border-radius:4px;
    margin:16px 0 0 0;
    width:90%;
    font-size:16px;
}

.aside-header .btn-group a {
    width:33.3%;
    text-align:center;
    color:black;
}

.aside-header .btn-group .button {
    padding:6px;
}

.aside-header .btn-group .button.middle {
    border-left:1px solid rgb(176, 176, 183);
    border-right:1px solid rgb(176, 176, 183);
}

.aside-header .btn-group a:hover {
    color:#8080ff;
    background-color:rgb(250, 250, 250);
    transition:0.4s;
    box-shadow:inset 0 0 5px 1px rgb(229, 229, 229);
}

aside .menu {
    border-radius: 4px;
    background-color:white;
    font-size:1.25em;
    box-shadow:inset 0 0 5px 1px rgb(229, 229, 229);
}

aside .menu a {
    color:black;
    text-decoration:none;
}

aside .menu-item {
    position:relative;
    padding:6px 12px;
}

aside .menu-item:hover{
    color:#8080ff;
    transition:0.4s;
    background-color:rgb(250, 250, 250);
    box-shadow:0 0 5px 1px rgb(229, 229, 229);
}


.menu-item .icon {
    color:rgb(176, 176, 183);
    position:absolute;
    font-size:0.75em;
    border:2px solid rgb(176, 176, 183);
    border-radius:50%;
    width:30px;
    height:30px;
    padding-left:9px;
    padding-top:1px;
    background-color:white;
    z-index:1;
}

aside .menu-item:hover .icon {
    color:#8080ff;
    border-color:#8080ff;
}
.menu-item .line{
    width:2px;
    height:42px;
    background-color:rgb(176, 176, 183);
    position:absolute;
    left:26px;
    top:0;
}

.menu-item .text{
    margin-left:50px
}

.el-container.content {
    overflow:auto;
}

.el-container.content .video {
    width:100%;
    height:600px;
}

.el-container.content .el-divider {
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
}

.el-container.content .question .box-card {
    width:95%;
    margin-left:2.5%;
}

.el-container.content .question .box-card .answers {
    font-size:1.5em;
}

.el-container.content .question .box-card .answers input[type="radio"] {
    opacity:0;
}

.el-container.content .question .box-card .answers label {
    padding:6px 12px;
    border-radius:4px;
    cursor:pointer;
}

.el-container.content .question .box-card .answers label:hover {
    transition:0.4s;
    font-weight:bolder;
    padding-bottom:8px;
    padding-top:4px;
}

.el-container.content .question .box-card .answers label:hover i {
    transition:0.4s;
    color:#8080ff;
}

.el-container.content .question .box-card .answers input:checked + label {
    background-color:rgb(250, 250, 250);
    box-shadow:inset 0 0 5px 2px rgb(229, 229, 229);
    font-weight:bolder;
    padding-top:6px;
    padding-bottom:6px;
}

.el-container.content .question .box-card .answers input:checked + label i {
    color:#8080ff;
}

.el-container.content .question .box-card .el-button:hover {
    transition:0.4s;
    color:#8080ff;
    border-color:#8080ff;
}

.el-container.content .question .box-card .el-button:focus {
    color:#8080ff;
}

.el-container.content .question .box-card .el-button a {
    color:#606266;
    text-decoration:none;
}

.el-container.content .question .box-card .el-button a:hover {
    color:#8080ff;
}

.el-container.content .text {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

.el-container.content .text .mkd {
    padding:0 55px;
}

/* markdown table */
.el-container.content .text .mkd table {
    width: 100%;
    border: 1px solid #d9d9d9;
    background: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 20px 0;
}

.el-container.content .text .mkd table tr th {
    padding: 4px 8px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    background-color: #f8f8f9;
}

.el-container.content .text .mkd table tr td {
    padding: 4px 8px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}