button {
    outline:none;
}

.p1 {
    text-align:center;
    background-color:rgba(230,230,250,0.8);
    padding:5% 5% 2% 5%;
}

.part1 {
    margin-top:74px;
    background-color:#CFCFEF;
    padding-top:5%;
    padding-bottom:5%;
}

.lt {
    text-align:left;
    width:50%;
    display:inline-block;
}

.rt {
    text-align:right;
    display:inline-block;
}

.lt, .rt {
    padding-top:5%;
    padding-bottom:5%;
}

.lt span, .rt span {
    font-size:0.5em;
    font-weight:bold;
    color:gray;
}

.b1 {
    width:100%;
    font-size:1.2em;
    font-weight:bolder;
    border-radius:10px;
    border:3px solid #8080FF;
    background-color:#8080FF;
    color:white;
    padding-top:2%;
    padding-bottom:2%;
}

button:hover {
    box-shadow:0 6px 12px 6px rgba(0,0,0,0.24);
    -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.p2 {
    line-height:2em;
    padding-left:5%;
    padding-top:1%;
}

.p2 p, a {
    color:#708090;
}

.p2 a:hover {
    color:white;
}

.part2 {
    margin-top:3%;
}

.nb {
    display:inline-block;
    background-color:#CFCFEF;
    font-size:1.25em;

    width:32px;
    height:30px;
    border-radius:10px;
    vertical-align:middle;
    text-align:center;
}

.intro {
    display:inline-block;
    padding-left:2%;
    vertical-align:middle;
}

.con {
    box-shadow:0 6px 6px 6px rgba(0,0,0,0.1);
    text-align:center;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:5%;
    padding:8% 3% 5% 3%;
    height:320px;
    background-color:white;
}

.con:hover {
    box-shadow:0 2px 2px 2px rgba(0,0,0,0.1);
}

.con p {
    margin-top:5%;
}

.bk {
    margin-top:2%;
}

.part2 a:hover {
    text-decoration:none;
    color:black;
}

.c {
    margin-top:5%;
}

.t3 {
    font-size:2.5em;
}

.part6 {
    background-image:url('./images/cloud.png');
    background-repeat:no-repeat;
    background-position:center bottom;
    margin-top:8%;
}

@media screen and (max-width: 450px) {
			 .part6 {
					 background-image:url('./images/cloud.png');
					 background-repeat:no-repeat;
					 background-position:center bottom;
					 margin-top:8%;
					 background-size:5000px 8000px;
			 }
			 }


/* element ui css*/

  .el-row.title {
    margin-top: 30px;

  }

  .el-col {
    margin-top: 20px;
    margin-bottom: 20px;
    transition:0.5s all;
  }

.title1 {
  font-size:20px;
}

.el-col.block:hover {
    margin-top: 15px;
    margin-bottom: 25px;
}

.block .el-card:hover {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.1);
}

.start.el-button {
    color: black;
    border-radius: 4px;
    font-weight: bold;
}

/* buttons in class.html */
.start.el-button:hover {
    box-shadow:none;
    color: #7373E5;
    background-color:rgba(0,0,0,.1);
}

/* buttons in classdetail.html */
.start.el-button.classdetail:hover {
    box-shadow:none;
    color: #7373E5;
    background-color:white;
}

.start .el-icon-right {
    color: #8080FF;
    font-weight: bold;
    font-size: 15px;
}

.el-card .img-fluid {
    height: 148px;
    width: 100%;
}

.gradient-card .el-card__header {
    background-image: linear-gradient(to bottom right, #FFFFFF, #E5E5FF);
    padding:0px;
    height:132px;
}

.gradient-card h6 {
    padding-top:24px;
    padding-left:17px;
}

.gradient-card h5 {
    padding:6px 16px;
}

