/* navbar */
.navbar {
    position:fixed;
	top:0;
	left:0;
	z-index:2;
	width:100%;
	background-color: white;
}

.navbar-brand {
	font-size:2em;
}

.nav-link {
	font-size:1.5em;
}

.navbar.navbar-expand-md.navbar-light {
	box-shadow:0 0 12px 0 rgba(0,0,0,0.24);
}

#login:hover {
    cursor:pointer;
}

/* dropdown menu */
#final {
    padding-right: 5px;
}

.el-dropdown-menu a {
    color: rgba(0, 0, 0, 0.5);
}

.el-dropdown-menu a:hover {
    color: #8080FF;
    text-decoration: none;
}

/* footer */

footer .left, footer .center, footer .right {
    display: inline-block;
}

footer .row {
    margin: 0;
}

footer p {
    text-align: center;
}

footer {
    background-color: rgb(241, 241, 255);
    padding-top: 35px;
    padding-bottom: 20px;
}

footer .title {
    font-weight: bold;
}

footer a {
    transition: 0.5s all;
    color: #708090;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

/* test login window */

.login-test .login-window {
    border: 1px solid #EBEEF5;
    background-color: white;
    position: fixed;
    top: 20%;
    /* left: 35%;
    width: 30%; */
    height: 55%;
    border-radius: 4px;
    z-index: 2;
    padding-bottom:48px;
}

.login-test .el-icon-circle-close {
    margin-top: 5px;
    margin-right: 5px;
}

.login-test .el-icon-circle-close:hover {
    cursor: pointer;
}

.login-test .form {
    margin: 0% 0%;
    text-align: center;
    overflow: auto;
}

.login-test .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.3;
}

/* login window content */
.login-test .t h2{
    display:inline;
}

.login-test .t {
    font-size:2em;
    text-align:center;
    margin-top:48px;
}

.login-test .forget {
    text-align:center;
    padding-bottom:12px;
}

.login-test form {
    padding:32px 12px 12px;
}

.login-test input {
    margin:0 0 12px;
    padding:0.5em 0.5em;
    border-radius:5px;
    width:60%;
    outline: none;
}

.login-test input[type="submit"] {
    border-radius:10px;
    color:white;
    font-weight:bolder;
    margin-top:5px;
    border:none;
}

.login-test .disable-button {
    background-color:#cfcfef;
}

.login-test .able-button {
    background-color:#8080FF;
}

.login-test .able-button:hover {
    box-shadow:0 3px 6px 3px rgba(0,0,0,0.24);
    -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.login-test a {
    color:#999999;
}

.login-test a:hover {
    color:#cfcfef;
}

.login-test #id_password1 {
    margin:0;
    border-radius:6px 6px 0 0;
    border:1px solid #C0C0C0;
    transition:0.5s all;
}

.login-test #id_password2 {
    border-radius:0 0 6px 6px;
    border:1px solid #C0C0C0;
    transition:0.5s all;
}

.login-test .login_error {
    position:absolute;
    background-color:white;
    border-radius:6px;
    box-shadow:2px 2px 5px gray;
    padding:1px;
    margin:auto;
    left:30%;
    right:30%;
}

.login-test .captcha {
        display:block;
        margin-left:40%;
}

.login-test #id_captcha_1 {
    margin-top:5px;
}

.login-test .s input {
    border:1px solid #C0C0C0;
}

.login-test input.info {
    border:1px solid #C0C0C0;
}

.login-test .form input {
    border:1px solid #C0C0C0;
    transition:0.5s all;
}

.login-test .form input[type="submit"] {
    border:0;
}

/* 提示信息 */

.login-test .alert-danger {
    width: 60%;
    margin: 0 auto 12px auto;
    text-align:center;
}

/* input 框效果 */
.login-test .form input:hover {
    border-color: #747474;
}

.login-test #id_password1:hover {
    border-color: #747474;
}

.login-test #id_password2:hover {
    border-color: #747474;
}