.navbar {
    position:fixed;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	background-color:white;
}

.navbar-brand {
	font-size:2em;
}

.nav-link {
	font-size:1.5em;
}

.navbar.navbar-expand-md.navbar-light {
	box-shadow:0 0 12px 0 rgba(0,0,0,0.24);
}

#final {
    padding-right: 5px;
}

.el-dropdown-menu a {
    color: rgba(0, 0, 0, 0.5);
}

.el-dropdown-menu a:hover {
    color: #8080FF;
    text-decoration: none;
}