@import url("//unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css");
#bkg {
    position: absolute;
    height: 100%;
    z-index: -1;
    margin-left: 10%;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}

.box-card {
    width: 480px;
}

.el-col {
    margin-top: 10%;
}

input {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 7px 7px;
    font-size: 14px;
    transition: 0.4s;
    margin-bottom: 14px;
}

input:hover {
    border: 1px solid black;
}

#submit-button {
    padding: 4px 14px;
}

#submit-button:hover {
    border: 1px solid #8080ff;
    color: #8080ff;
}