.navbar-brand {
	font-size:2.5em;
}

.nav-link {
	font-size:1.5em;
}

.navbar.navbar-expand-md.navbar-light {
	box-shadow:0 0 12px 0 rgba(0,0,0,0.24);
}

.part6 {
    background-image:url('./images/cloud.png');
    background-repeat:no-repeat;
    background-position:center bottom;
    margin-top:5%;
}

 @media screen and (max-width: 450px) {
        .part6 {
            background-image:url('./images/cloud.png');
            background-repeat:no-repeat;
            background-position:center bottom;
            background-size:5000px 8000px;
        }
        }

.textf {
    padding:200px 0 0 0;
    color:#fff;
}

.textf a {
    decoration:none;
    color:#fff;
}

.row.textf {
    margin-bottom:0;
}

.content{
    padding-top:32px;
    background-color:#f7f7f7;
}

.ins, .cours {
    background-color:#fff;
    border:2px solid #d4d4d4;
    border-radius:1px;
    padding:16px;
    margin-bottom:24px;
}

input {
    border-color:#d4d4d4;
    border-radius:24px;
    font-size:1.1em;
    margin:1%;
}

input[type="submit"] {
    border-radius:10px;
    background-color:#d4d4d4;
    padding:2px 20px 2px 20px;
    border:none;
}

input[type="submit"]:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	box-shadow:0 0 6px 0 rgba(0,0,0,0.24);
}

div.progress {
    width:90%;
    height:30px;
    margin-left:1em;
    margin-top:1em;
    margin-bottom:0.5em;
}

div.progress-bar.progress-bar-success {
    background-color:#cfcfef;
}

.logo {
    height:60px;
    width:140px;
}

h1 {
    text-align:center;
    padding-bottom:24px;
    color:#7070ff;
    font-weight:bold;
    font-style:italic;
}
