{#{% load static from staticfiles %}#}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>优扬实验室</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "webapp/navbar.css" %}" type="text/css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>


    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
  </head>
  <body>

<!-- 导航 -->
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="{% url 'webapp:index'%}">优扬实验室</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:index'%}">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">课程</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:signup'%}">注册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:signup'%}">登录</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

  </body>
</html>