{#{% load static from staticfiles %}#}
{% load static %}

<!-- 注意 -->
<!--  该文件为所有其他模版文件所继承  -->
<!--  只在该文件内定义顶部导航栏 -->
<!--  只在该文件内定义页尾部分 -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!--test vue and element ui-->
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>
    <style type="text/css">
      @import url("//unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css");
    </style>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static "webapp/navbar.css" %}" type="text/css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
     <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>优扬实验室</title>

    <body>
<div id="app">
<!--  顶栏部分-->
  <el-header>

<!-- 导航 -->
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="{% url 'webapp:index'%}" id="big-title">优扬实验室</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:index'%}">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">课程</a>
          </li>

          {% if user.is_authenticated %}

          <div class="btn-group">
            <li class="nav-item">

              <el-dropdown>
                <span class="el-dropdown-link" style="font-size: 1.1em;">
                  <a class="nav-link">用户中心<i class="el-icon-arrow-down el-icon--right"></i></a>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item><a href="#">我的课程</a></el-dropdown-item>
                  <el-dropdown-item><a href="#">我的资料</a></el-dropdown-item>
                  <el-dropdown-item><a href="#">blabla</a></el-dropdown-item>
                  <el-dropdown-item divided><a href="{% url 'webapp:logout'%}">退出登陆</a></el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>

            </li>
          </div>


          {% else %}

             <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:signup'%}">注册</a>
          </li>
          <li class="nav-item" id="final">
            <a class="nav-link" href="{% url 'webapp:signin'%}">登录</a>
          </li>

          {% endif %}

        </ul>
      </div>
    </nav>

</el-header>

  <!-- 内容部分-->

    {% block content %}
    {% endblock %}

</div><!-- class="app"-->

<!-- 底部页尾 -->

<footer>

  <div class="container">

    <div class="row">

      <div class="left col-4">

        <p class="title">优杨实验室</p>
        <p>自古英雄出少年</p>

      </div>

      <div class="center col-4">

        <p class="title">关于我们</p>
        <p><a href="#">主页</a></p>
        <p><a href="">账户</a></p>
        <p><a href="">管理</a></p>

      </div>

      <div class="right col-4">

        <p class="title">联系我们</p>
        <p><a href="">phone number</a></p>
        <p><a href="">email address</a></p>

      </div>

    </div>

  </div>

</footer>

</body>

</html>