{% extends 'navbar.html' %}

{#{% load static from staticfiles %}#}
{% load static %}


{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
  <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{% static "webapp/menu.css" %}" type="text/css">



<el-row :gutter="20">
<el-col :xs="{span:18, offset:3}" :sm="{span:14, offset:5}" :md="{span:12, offset:6}" :lg="{span:12, offset:6}" >

<!--  课程名称-->
  <template>
  <div>
    <el-row >
      <h1>课程名称</h1>
    <el-divider><i class="el-icon-arrow-down"></i></el-divider>
    </el-row>
  </div>
    </template>
<!-- 课程说明-->
    <el-card class="box-card" shadow="never">

  <div class="demo-image__placeholder">

  <!--  左侧图片   -->
<!--    <el-col :xs="24" :sm = "8">-->
<!--      <div class="block">-->
<!--    <el-image :src="src"></el-image>-->
<!--    </div>-->
<!--    </el-col>-->

<!--    <el-divider direction="vertical"></el-divider>-->
      <div class="row">
              <! --图片窗口-->
        <div class="col-md-4 col-12 p1">
          <img class="img-fluid" src="{% static "webapp/images/Python/python_0.jpg" %}" alt="img1">
          <div class="lt">
            <h3>12&nbsp<span>个模块</span></h3>
          </div>
          <div class="rt">
            <h3>12&nbsp<span>节课</span></h3>
          </div>
          <div>
            {% with question=question_text.classquestion %}
            <a href="#"><button class="b1">开始学习 !</button></a>
            {% endwith %}
          </div>
        </div>

              <div class="col-md-8 col-12 p2">
          <a href="#">返回上一页</a>
          <h1>PYTHON</h1>
          <p>Stretch your analytic muscles with knights, knaves, logic gates, and more!</p>
          <p>Our logic course starts with a love of puzzles and builds up to some truly mind-bending challenges. It covers liar and truth-teller riddles, logical fallacies, machine logic, and even some strategic game theory!<br>
    By the end of this course, you’ll be able to solve problems involving AND, NOT, and XOR logic gates, and use the symbolic languages of logic to understand fun riddles.</p>
        </div>
      </div>

</div>

</el-card>

  <!--  每个部分 -->
   <el-row>
    <el-col :span="1"><i class="el-icon-finished"></i></el-col>
     <el-col :span="16" :xs="{span:21, offset:2}"> <h4> 第一章 </h4></el-col>

  </el-row>

   <el-col :xs="24" :sm="18" :md="12" :lg="8">
      <el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>课程1</span>
  </div>
  <div v-for="o in 4" :key="o" class="text item">
    {{'列表内容 '}}
  </div>
</el-card>
   </el-col>


 <el-col :xs="24" :sm="18" :md="12" :lg="8">
      <el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>课程2</span>
  </div>
  <div v-for="o in 4" :key="o" class="text item">
    {{'列表内容 '}}
  </div>
</el-card>
   </el-col>

     <el-col :xs="24" :sm="18" :md="12" :lg="8">
      <el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>课程3</span>
  </div>
  <div v-for="o in 4" :key="o" class="text item">
    {{'列表内容 '}}
  </div>
</el-card>
   </el-col>

  <!--  每个部分 -->
   <el-row>
    <el-col :span="1"><i class="el-icon-finished"></i></el-col>
     <el-col :span="16" :xs="{span:21, offset:2}"> <h4> 第二章 </h4></el-col>

  </el-row>

   <el-col :xs="24" :sm="18" :md="12" :lg="8">
      <el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>课程4</span>
  </div>
  <div v-for="o in 4" :key="o" class="text item">
    {{'列表内容 '}}
  </div>
</el-card>
   </el-col>


 <el-col :xs="24" :sm="18" :md="12" :lg="8">
      <el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>课程6</span>
  </div>
  <div v-for="o in 4" :key="o" class="text item">
    {{'列表内容 '}}
  </div>
</el-card>
   </el-col>

     <el-col :xs="24" :sm="18" :md="12" :lg="8">
      <el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>课程6</span>
  </div>
  <div v-for="o in 4" :key="o" class="text item">
    {{'列表内容 '}}
  </div>
</el-card>
   </el-col>


</el-col>



<script>
var Main = {
    data() {
      return {
        src: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
      }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>
</el-row>

{% endblock %}