{% extends 'navbar.html' %}

{#{% load static from staticfiles %}#}
{% load static %}


{% block content %}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
  <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{% static "webapp/menu.css" %}" type="text/css">

<!--<a href="#"><div class="return">< return</div></a>-->

  <el-main>


<el-row :gutter="20">
<el-col :xs="{span:18, offset:3}" :sm="{span:14, offset:5}" :md="{span:12, offset:6}" :lg="{span:12, offset:6}" class="main">

  <el-row class="title">
     <h2> 全部课程 </h2>
  </el-row>


    <!--  每个部分 -->
    <el-row class="title1">
        <el-col :span="1"><i class="el-icon-monitor"></i></el-col>
        <el-col :span="16" :xs="{span:21, offset:2}"> <h4> 各种编程语言 </h4></el-col>
    </el-row>

    <el-row :gutter="20">

       <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card :body-style="{ padding : '0px'}" class="box-card">
              <img class="img-fluid" src="{% static "webapp/images/Python/Python_thumbail.png" %}" alt="img2">
              <div style="padding: 14px;">
                  <div style="font-size: 20px;padding-bottom: 16px;">Python基础入门</div>
                  <div class="bottom clearfix">
                    <div style="color: rgba(0, 0, 0, 0.5);padding: 6px 2px;display: inline-block"> 12小节</div>
                    <el-button style="float: right; padding: 10px 12px" type="text" class="start">开始学习<i class="el-icon-right" style="padding-left: 6px;"></i></el-button>
                  </div>
              </div>
          </el-card>
       </el-col>


       <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card :body-style="{ padding : '0px'}" class="box-card">
              <img class="img-fluid" src="{% static "webapp/images/Cpp/c++.png" %}" alt="img2">
              <div style="padding: 14px;">
                  <div style="font-size: 20px;padding-bottom: 16px;">C++基础</div>
                  <div class="bottom clearfix">
                    <div style="color: rgba(0, 0, 0, 0.5);padding: 6px 2px;display: inline-block"> 22小节</div>
                    <el-button style="float: right; padding: 10px 12px" type="text" class="start">开始学习<i class="el-icon-right" style="padding-left: 6px;"></i></el-button>
                  </div>
              </div>
          </el-card>
       </el-col>

       <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card :body-style="{ padding : '0px'}" class="box-card">
              <img class="img-fluid" src="{% static "webapp/images/Python/AI.jpg" %}" alt="img2">
              <div style="padding: 14px;">
                  <div style="font-size: 20px;padding-bottom: 16px;">机器学习</div>
                  <div class="bottom clearfix">
                    <div style="color: rgba(0, 0, 0, 0.5);padding: 6px 2px;display: inline-block"> 15小节数</div>
                    <el-button style="float: right; padding: 10px 12px" type="text" class="start">开始学习<i class="el-icon-right" style="padding-left: 6px;"></i></el-button>
                  </div>
              </div>
          </el-card>
       </el-col>

    </el-row>

  <!--  每个部分 -->
    <el-row :gutter="20">
       <el-row class="title1">
        <el-col :span="1"><i class="el-icon-document-copy"></i></el-col>
         <el-col :span="16" :xs="{span:21, offset:2}"> <h4> 机器人学及决策规划 </h4></el-col>
      </el-row>

      {% for course in all_courses %}
        <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card :body-style="{ padding : '0px'}" class="box-card">
              <img class="img-fluid" src="{% static "webapp/images/ROS/ROS2.jpeg" %}" alt="img2">
              <div style="padding: 14px;">
                  <div style="font-size: 20px;padding-bottom: 16px;">{{course.course_name}}</div>
                  <div class="bottom clearfix">
                    <div style="color: rgba(0, 0, 0, 0.5);padding: 6px 2px;display: inline-block"> 12小节</div>
                      <a href="{% url 'webapp:classdetail' course.id%}"><el-button style="float: right; padding: 10px 12px" type="text" class="start">开始学习<i class="el-icon-right" style="padding-left: 6px;"></i></el-button></a>
                  </div>
              </div>
          </el-card>
       </el-col>
      {% endfor %}



       <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card :body-style="{ padding : '0px'}" class="box-card">
              <img class="img-fluid" src="{% static "webapp/images/ROS/ROS2.jpeg" %}" alt="img2">
              <div style="padding: 14px;">
                  <div style="font-size: 20px;padding-bottom: 16px;">C++基础</div>
                  <div class="bottom clearfix">
                    <div style="color: rgba(0, 0, 0, 0.5);padding: 6px 2px;display: inline-block"> 22小节</div>
                    <el-button style="float: right; padding: 10px 12px" type="text" class="start">开始学习<i class="el-icon-right" style="padding-left: 6px;"></i></el-button>
                  </div>
              </div>
          </el-card>
       </el-col>

       <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card :body-style="{ padding : '0px'}" class="box-card">
              <img class="img-fluid" src="{% static "webapp/images/Python/AI.jpg" %}" alt="img2">
              <div style="padding: 14px;">
                  <div style="font-size: 20px;padding-bottom: 16px;">机器学习</div>
                  <div class="bottom clearfix">
                    <div style="color: rgba(0, 0, 0, 0.5);padding: 6px 2px;display: inline-block"> 15小节数</div>
                    <el-button style="float: right; padding: 10px 12px" type="text" class="start">开始学习<i class="el-icon-right" style="padding-left: 6px;"></i></el-button>
                  </div>
              </div>
          </el-card>
       </el-col>
    </el-row>

   <!--  每个部分 -->
    <el-row :gutter="20">
       <el-row class="title1">
        <el-col :span="1"><i class="el-icon-document-copy"></i></el-col>
         <el-col :span="16" :xs="{span:21, offset:2}"> <h4> 数据结构与算法 </h4></el-col>
      </el-row>


       <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card class="box-card">
              <div slot="header" class="clearfix">
                <span>卡片名称</span>
                <el-button style="float: right; padding: 3px 0" type="text">开始学习</el-button>
              </div>
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
          </el-card>
       </el-col>


       <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card class="box-card">
              <div slot="header" class="clearfix">
                <span>卡片名称</span>
                <el-button style="float: right; padding: 3px 0" type="text">开始学习</el-button>
              </div>
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
          </el-card>
       </el-col>


       <el-col :xs="24" :sm="18" :md="12" :lg="8" class="block">
          <el-card class="box-card">
              <div slot="header" class="clearfix">
                <span>卡片名称</span>
                <el-button style="float: right; padding: 3px 0" type="text">开始学习</el-button>
              </div>
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
          </el-card>
       </el-col>
    </el-row>


</el-col>
</el-row>
</el-main>




<script>

var Main = {
methods: {
goBack() {
  console.log('go back');
}
}
}
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')


</script>

<style>


</style>
{% endblock %}