{% extends 'navbar.html' %}

{#{% load static from staticfiles %}#}
{% load static %}


{% block content %}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
  <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{% static "webapp/menu.css" %}" type="text/css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<a href="#"><div class="return">< return</div></a>

  <div class="part1 class">


    <div class="container">

      <div class="row">

        <! --图片窗口-->
        <div class="col-md-4 col-12 p1 class">
          <img class="img-responsive" src="{% static "webapp/images/aWeb.png" %}" alt="img1">
        </div>

         <! --简介-->
        <div class="col-md-8 col-12 p2 class">
          <h1>多种课程可供选择</h1>
        </div>

      </div>

    </div>

  </div>

  <div class="part2">

    <div class="container">




      <div class="row bk">


        <div class="col-md-4 col-12">
          <a href="#">
            <div class="con">
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
              <p>上面是个python的图标，这段话是课程介绍</p>
            </div>
          </a>
        </div>





        <div class="col-md-4 col-12">
          <a href="#">
            <div class="con">
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
              <p>zaeazeazeazeaze</p>
            </div>
          </a>
        </div>




        <div class="col-md-4 col-12">
          <a href="#">
            <div class="con">
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
              <p>zaeazeazeazeaze</p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-12">
          <a href="#">
            <div class="con">
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
              <p>zaeazeazeazeaze</p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-12">
          <a href="#">
            <div class="con">
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
              <p>zaeazeazeazeaze</p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-12">
          <a href="#">
            <div class="con">
              <img class="img-fluid" src="{% static "webapp/images/Python/lesson.png" %}" alt="img2">
              <p>zaeazeazeazeaze</p>
            </div>
          </a>
        </div>


      </div>




  </div>

  <div class="part6">

        <div class="container">

          <div class="row textf">

            <div class="col-md-4 col-12">

              <p class="t3">优扬实验室.</p>
              <h2>自古英雄出少年</h2>
              <br><br>

            </div>

            <div class="col-md-4 col-12">

              <a href="#"><p>关于我们</p></a>
              <a href="#"><p>主页</p></a>
              <a href="#"><p>账户</p></a>
              <a href="#"><p>管理</p></a>
              <br><br>

            </div>

            <div class="col-md-4 col-12">

              <h3>联系我们</h3>
              <br><a href="#"><p>000-000-0000</p></a>
              <a href="#"><p>info@email.com</p></a>
              <br><a href="#"><p>帅气的扬扬</p></a>

            </div>

          </div>

        </div>

      </div>

{% endblock %}