{#{% load static from staticfiles %}#}
{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>具体内容页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "webapp/detailpage.css" %}" type="text/css">
  </head>
  <body>

<!-- 导航 -->
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="#">优扬实验室</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">课程</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">注册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">登录</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="row no-gutters">

      <div class="col-md-4 no-gutters">
        <div class="leftside">

          <div class = "return">
            <a href="{% url 'webapp:course'%}">
              <button type="button">
              < 返回</button>
            </a>
          </div>

          <div class = "category">
          <h1>课程名称信息</h1>
          </div>

          <div class="brief_intro">
            <h4> 一段简要的介绍信息片段... </h4>
          </div>

          <div class="con">

            <p>章节：  章节内容</p>
          </div>

          <!-- <ul class="nav nav-list"><li class="divider"></li></ul> -->




        </div>


      </div>

      <div class="col-md-8 no-gutters">

        <div class="ablock">

            <div class="intro"> <!--每个章节唯一的-->

              <h1>大标题</h1>
              <p>介绍该章节</p>

            </div>

        </div>

        <div class="ablock">

          <div class="content"><!--可添加的-->

            <h1>小标题</h1>
            <p>内容</p>
            <img src="#">

            <div class="choice">

              <button id="a">A</button><br>
              <button id="b">B</button><br>

              <script type="text/javascript">

                var btnR = document.getElementById("a");
                var btnB = document.getElementById("b");
                var rightChoice = "选择正确时出现。";
                var badChoice = "选择错误时出现。";

                btnR.onclick = function() {

                  document.getElementById('expl').innerHTML = rightChoice;
                }

                btnB.onclick = function() {
                  document.getElementById('expl').innerHTML = badChoice;
                }


              </script>

              <div id="expl">


              </div>


            </div>

          </div>

        </div>

        <div class="ablock">

          <div class="content">

            <h1>小标题</h1>
            <p>内容</p>
            <img class="img-fluid" src="{% static "webapp/images/img10.png" %}">

          </div>

        </div>

      </div>

    </div>


  </body>
</html>
