{% extends 'navbar.html' %}

{#{% load static from staticfiles %}#}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static "webapp/detailpage.css" %}" type="text/css">

        <div class="row no-gutters">

      <div class="col-md-2 no-gutters sidebar">

        <div class="leftside">

            <h1>title</h1>

                <div class="progressbar">
                    <div>progress</div>
                    <el-progress :percentage="percentage" :color="customColor" :text-inside="false" ></el-progress>
                </div>

            <div class="divider">
                <el-divider></el-divider>
            </div>

            <script>
                var stepsLength = 0;
            </script>

          <div class="steps" style="height:;">
            <el-steps direction="vertical" :active="{{ lesson.id }} - 1">
                {% for item in lesson.get_chapter_all_lessons%}
                    <el-step title=""></el-step>
                    <script>stepsLength++;</script>
                {% endfor %}
            </el-steps>
          </div>

            <el-button-group>
                <el-button icon="el-icon-arrow-left"></el-button>
                <el-button icon="el-icon-s-grid" id="menu">返回目录</el-button>
                <el-button icon="el-icon-arrow-right"></el-button>
            </el-button-group>


        </div>

          <script>
            stepsLength *= 50;
            document.getElementsByClassName("steps")[0].style.height = stepsLength + 'px';
          </script>


      </div>

      <div class="col-md-10 no-gutters pagecontent">

        <div class="ablock">

            <div class="intro"> <!--每个章节唯一的-->

            <h1>{{lesson.lesson_name}}</h1>


              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>


              <iframe src="//player.bilibili.com/player.html?aid=74809488&bvid=BV12E411i7Wk&cid=127970222&page=2" id="video" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="100%" height="600"> </iframe>
              <script>
                $(document).ready(function(){
                  $("iframe").hide();
                  $("iframe").load(function(){
                   $(".spinner").hide();
                   $("iframe").show();
                  });
                });
              </script>

            </div>

        </div>

        <div class="ablock">

        {% for question in lesson.classquestion_set.all %}
          <div class="content"><!--可添加的-->
            <div class="question">

                <h1>{{ question.question_text }}</h1>
            </div>

            <div class="choice">


              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


              <form>
                {% csrf_token %}
                {% for choice in question.classquestionchoice_set.all %}
                    <div>
                      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.answer }}" onclick="myfunc(this.value)">
                      <label for="choice{{ forloop.counter }}" class="l1"></label>
                      <label for="choice{{ forloop.counter }}" class="l2">{{ choice.choice_text }}</label>
                      <label for="choice{{ forloop.counter }}" class="l3"></label>
                    </div>
                {% endfor %}
                <button id="pick" onclick ='jssubmit()' type="button" > 选择 </button>

                  <a id="continue" href="{% url 'webapp:detailpage' lesson.get_next.id %}"><button type="button"> 继续 ! </button></a>

                  <span id="demo"></span>

<!--               <input type="text" id="result">-->

                </form>

            </div>

              <!--<p id="demo"></p>-->

              <script type="text/javascript">

                //show result
                   $("#continue").hide();

                  var x = true;
                  function myfunc(choice) {

                      x = choice;
                      return x;
                  }

                  var result = document.getElementById("result").value;

                  function jssubmit() {        //获取form表单的dom对象

                    str = "";
                    document.getElementById("demo").innerText = str;

                    if(x == "True"){
                        str = "回答正确 !";
                        $("#pick").hide();
                        $("#continue").show();
                      }else{
                        str = "不对喔，再想一想呢";
                      }

                    index = 0;
                    setInterval(function() {  
                      if(index == str.length) { 
                       //清除定时器
                       clearInterval();
                       //若要让效果无限循环，把index归0即可
                       // index = 0;
                       }  
                        var a = document.getElementById("demo")
                        a.innerText = str.substring(0, index++);
                        },100)

                  }

              </script>

              </div>
            </div>

         {% endfor %}


        </div>


      </div>



<script>

var Main = {
    data() {
      return {
        src: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
        percentage: 30,
        customColor: '#8080ff',
      }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')

/* for steps */

        var i = 0;
        var steps = document.getElementsByClassName('el-step__title');
        var para;
        var node;
        var element;


        {% for item in lesson.get_chapter_all_lessons %}
            para = document.createElement("a");
            node = document.createTextNode('{{item.lesson_name}}');
            para.setAttribute("href", "{% url 'webapp:detailpage' item.id%}");
            para.appendChild(node);
            element = document.getElementsByClassName("el-step__title")[i];
            element.appendChild(para);
            i++;
        {% endfor %}


/* for el-buttons */
    function backToMenu() {
        window.location.href = "google.com";
    }

    function last() {
        window.location.href  = "qwe";
    }

    function next() {
        window.location.href = "asd";
    }

    var menu = document.getElementsByClassName("el-button")[1];
    var nextPage = document.getElementsByClassName("el-button")[2];
    var lastPage = document.getElementsByClassName("el-button")[0];
    menu.setAttribute("onclick", "backToMenu()");
    nextPage.setAttribute("onclick", "next()");
    lastPage.setAttribute("onclick", "last()");

</script>

{% endblock %}