{% extends 'navbar.html' %}

{#{% load static from staticfiles %}#}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static "webapp/dtpage.css" %}" type="text/css">

<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>

<script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>


<div style="margin-top:14px;">
    <el-container :style="'height:' + screenHeight + 'px;'">
        <el-aside width="300px" style="background-color: rgb(250, 250, 250);padding:24px;overflow:scroll;">
            <div class="aside-header">
                <h1>{{lesson.lesson_name}}</h1>
                <p>introduction</p>
                <el-progress :percentage="percentage" :color="purple"></el-progress>
                <div class="btn-group">
                    <a href="#"><div class="button"><i class="el-icon-caret-left"></i></div></a>
                    <a href="#"><div class="button middle"><i class="el-icon-s-grid"></i></div></a>
                    <a href="#"><div class="button"><i class="el-icon-caret-right"></i></div></a>
                </div>
                <el-divider></el-divider>
            </div>
            <div class="menu">
                <a href="#">
                    <div class="menu-item">
                    <div class="icon">1</div>
                    <div class="line"></div>
                    <div class="text">ROS是什么</div>
                    </div>
                </a>
                <a href="#">
                    <div class="menu-item">
                    <div class="icon">1</div>
                    <div class="line"></div>
                    <div class="text">ROS环境配置</div>
                    </div>
                </a>
                <a href="#">
                    <div class="menu-item">
                    <div class="icon">1</div>
                    <div class="line"></div>
                    <div class="text">ROS结构</div>
                    </div>
                </a>

            </div>
        </el-aside>
        <el-container class="content">
            <el-header style="font-size:40px;background-image: linear-gradient(to top, #E5E5FF, #fff);padding-top:24px;height:80px;">
<!--                <div>{{lesson.lesson_name}}</div>-->
            </el-header>
            <div class="video">
                <iframe src="//player.bilibili.com/player.html?aid=74809488&bvid=BV12E411i7Wk&cid=127970222&page=2" id="video" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="100%" height="100%"> </iframe>
            </div>
            <div class="text">
                <el-divider></el-divider>
                <div class="mkd" v-html="compiledMarkdown"></div>
            </div>
            <div class="question">
                <el-divider></el-divider>
                <el-card class="box-card">
                    <div slot="header">
                        <h2>测试问题</h2>
                    </div>
                    <div class="answers">

                        <input v-if="!pass" type="radio" value="a" id="1" name="answer" v-model="choice">
                        <input v-else type="radio" value="a" id="1" name="answer" v-model="choice" disabled="disabled">
                        <label for="1"><i class="el-icon-circle-check"></i> 选项A</label><br>
                        <input v-if="!pass" type="radio" value="b" id="2" name="answer" v-model="choice">
                        <input v-else type="radio" value="b" id="2" name="answer" v-model="choice" disabled="disabled">
                        <label for="2"><i class="el-icon-circle-check"></i> 选项B</label><br>

                    </div>
                    <el-button plain v-if="!pass" @click="fedBack">朴素按钮</el-button>
                    <el-button plain v-if="pass"><a href="#">下一题</a></el-button>
                </el-card>
            </div>
            <div class="end-space"><br><br></div>
        </el-container>
    </el-container>
</div>

<script>

    function escape2Html(str) {
        var arrEntities={'lt':'<','gt':'>','nbsp':' ','amp':'&','quot':'"'};
        return str.replace(/&(lt|gt|nbsp|amp|quot);/ig,function(all,t){
            return arrEntities[t];
        });
    }

    var vm = new Vue({
        el: '#app',
        data: {
            string: "{{ lesson.id }}",
            purple: '#8080ff',
            percentage: '30',
            screenHeight: document.documentElement.clientHeight - 74 ,
            choice: '',
            answer: 'a',
            pass:false,
            mkd: escape2Html('{{lesson.read_file}}'),
        },
        computed: {
            compiledMarkdown: function() {
                return marked(this.mkd, { sanitize: true });
            }
        },
        methods: {
            back(){
                window.location.href="/";
            },
            fedBack(){
                if(this.choice == this.answer){
                    this.rightMessage();
                    this.pass = true;
                } else {
                    this.wrongMessage();
                }
            },
            rightMessage(){
                this.$notify({
                    title:'a title',
                    message:'u r right',
                    position:'bottom-left',
                    offset:100,
                });
            },
            wrongMessage(){
                this.$notify({
                    title:'t',
                    message:'wrong',
                    position:'bottom-left',
                    offset:100,
                });
            },
        },
    })
</script>
{% endblock %}