{#{% load static from staticfiles %}#}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>忘记密码 - 优扬实验室</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "webapp/forget.css" %}" type="text/css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="row">

			<div class="col-md-3 col-0"></div>	
            <! --右文-->
            <div class="col-md-6 col-12">

                <div class="t">

                    <h2>请输入您的邮箱</h2>

                </div>

                <div class="form" method="post" action="#">

                    <form>

                 		
                        <input type="email" placeholder="Email"><br>
                        <input type="submit" value="找回密码">

                    </form>

                </div>

                <div class="forget">

                    <p><a href="{% url 'webapp:signin'%}">取消</a></p>

                </div>

            </div>
            
            <div class="col-md-3 col-0"></div>

        </div>

    </div>

</body>
