{% extends 'base.html' %}
{% block content %} 
    <h1>{{ variable }}</h1>
    
    <h1 class = "text-center mb-3"> 测试选项 </h1> 
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <div class = "card mb-3">
                <div class = "card-body">
                    <h2 class = "lead"> {{ question.question_text}} </h2>
                    <li><a href="{% url 'webapp:detail' question.id %}">{{ question.question_text }}</a></li>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>没有选项样例</p>
    {% endif %}
{% endblock %}

<!-- {% if latest_question_list %}
    {% print(latest_question_list)}
    <ul>
        show something
    {% for question in latest_question_list %}
        <li><a href="/webapp/{{question.id}}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->


Hello