{% extends 'navbar.html' %}

{#{% load staticfiles %}#}
{% load static %}


{% block content %}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
  <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{% static "webapp/index.css" %}" type="text/css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="part1">
  <div class="container">
  <! --第一行-->
    <div class="row">
      <div class="col-md-4 col-12">
        <h3 class="display-4">学习，<br>从未如此简单</h3>
        <p class="tx">交互式学习方法</p>
        <p class="tx">趣味学习数学，物理及计算机科学</p>
        <a href="#course"><button type="button">开始学习</button></a>
      </div>
  <! --右图-->
      <div class="col-md-8 col-12">
        <img  class="img-responsive lapin" src="{% static "webapp/images/girl.png" %}" alt="lapin">
      </div>
    </div>
  </div>
</div>

<div class="part2">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-12">
        <img class=" img-responsive lapin1"  src="{% static "webapp/images/handdraw_image.png" %}" alt="lapin1">
      </div>

      <div class="col-md-6 col-12">
        <p class="t1">优扬实验室</p>
        <h4 class="display-4">通过实践学习</h4>
        <p class="tx">实践出真知，交互式的学习方法更生动而记忆深刻.</p>
        <a href="#"><button type="button" class="more">了解更多</button></a>
      </div>

    </div>
  </div>
</div>

<div class="part3" id="course">
  <div class="container">

    <div class="row">

      <! --第一行-->
      {% for course in all_courses%}
      <div class="col-md-4 col-12">
        <div class="bk">
          <div class="smpic">
            <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
          </div>
          <h4>{{course.course_name}}</h4>
          <p>介绍环境配置, python语言的基础语法,函数以及相应练习</p>
          <a href="{% url 'webapp:course' course.id%}"><button type="button">开始学习</button></a>
        </div>
      </div>
      {%endfor%}


      <! --填充项-->
      <div class="col-md-4 col-12">
        <div class="bk">
          <div class="smpic">
            <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
          </div>
          <h4>数据分析入门</h4>
          <p>介绍基础的数据分析的工具, 方法以及相应的统计学原理.</p>
          <a href="#"><button type="button">敬请期待</button></a>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="bk">
          <div class="smpic">
            <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
          </div>
          <h4>机器学习基础</h4>
          <p>介绍机器学习的基本概念, 基础技术, 配合练习案例.</p>
          <a href="#"><button type="button">敬请期待</button></a>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="bk">
          <div class="smpic">
            <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
          </div>
          <h4>学术写作技巧</h4>
          <p>介绍学术写作工具Latex, 本地部署及相关语法.</p>
          <a href="#"><button type="button">敬请期待</button></a>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="bk">
          <div class="smpic">
            <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
          </div>
          <h4>线性代数</h4>
          <p>介绍矩阵理论和线性代数的基本知识及其练习.</p>
          <a href="#"><button type="button">敬请期待</button></a>
        </div>
      </div>


      <div class="col-md-4 col-12">
        <div class="bk">
          <div class="smpic">
            <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
          </div>
          <h4>微积分</h4>
          <p>介绍极限, 微分学, 积分学理论极其应用练习.</p>
          <a href="#"><button type="button">敬请期待</button></a>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="part4">

  <div class="container">

    <div class="col-12 col-md-12">
      <p class="t2">学习账户</p>
      <h5 class="display-4">账户选择</h5>
    </div>

    <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- 指示符 -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- 轮播图片 -->
      <div class="carousel-inner">

        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

          </div>
        </div>

        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

          </div>
        </div>

        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="bk1">
                <div class="smpic">
                  <img class="img-responsive center-block" src="{% static "webapp/images/pic.png" %}" alt="pic">
                </div>
                <h4>python基础入门</h4>
                <p class="tx">python請問Microsoft Windows作業系統要如何安裝LibreOffice語言包？</p>
                <a href="#"><button type="button">开始学习</button></a>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="part5">

  <div class="container">

    <div class="row">

      <div class="col-md-12 col-12">
        <p class="t2">最新消息</p>
        <h2>想知道我们的&nbsp;<strong>最新消息?</strong></h2>
      </div>

      <div class="col-md-12 col-12">
        <br><br>
        <form action="#" method="get">
          <input type="email" name="mail" placeholder="&nbsp;请输入您的邮箱">
          <input type="submit" value="点击订阅">
        </form>

      </div>

    </div>

  </div>

</div>


<div class="part6">

  <div class="container">

    <div class="row textf">

      <div class="col-md-4 col-12">

        <p class="t3">优扬实验室</p>
        <h2>自古英雄出少年</h2>
        <br><br>

      </div>

      <div class="col-md-4 col-12">

        <a href="#"><p>关于我们</p></a>
        <a href="#"><p>主页</p></a>
        <a href="#"><p>账户</p></a>
        <a href="#"><p>管理</p></a>
        <br><br>

      </div>

      <div class="col-md-4 col-12">

        <h3>联系我们</h3>
        <br><a href="#"><p>000-000-0000</p></a>
        <a href="#"><p>info@email.com</p></a>
        <br><a href="#"><p>帅气的扬扬</p></a>

      </div>

    </div>

  </div>

</div>

{% endblock %}
