{#{% load static from staticfiles %}#}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>
    <link rel="stylesheet" href="{% static "webapp/resetpassword.css" %}" type="text/css">

    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>
    <img src="{% static "webapp/images/bkg_login.png" %}" id="bkg">

    <div id="app">
        <el-row>
            <el-col :span="16" :offset="8">
                <h1>重置密码</h1>
                <el-card v-if="show" class="box-card">
                  <div slot="header" class="clearfix">
                    <el-steps :space="300" :active="2" finish-status="success">
                      <el-step title="填写邮箱"></el-step>
                      <el-step title="接收邮件"></el-step>
                      <el-step title="修改密码"></el-step>
                        <el-step title="修改成功"></el-step>
                    </el-steps>
                  </div>

                    {% if validlink %}

                    <form method="post">{% csrf_token %}
                        <div class="form-row field-password1">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">输入密码</label><br>
                            {{ form.new_password1 }}
                        </div>
                        <div class="form-row field-password2">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">确认密码</label><br>
                            {{ form.new_password2 }}
                        </div>
                        <input type="submit" value="提交" id="submit-button">
                    </form>
                    <span>请重置并确认密码</span>
                    <el-button style="float: right; padding: 3px 0; color: #8080ff" type="text" @click="backToIndex()">返回主页</el-button>

                    {% else %}
                    <span>该链接已失效，请重新开始</span>
                    <el-button style="float: right; padding: 3px 0; color: #8080ff" type="text" @click="backToIndex()">返回主页</el-button>
                    {% endif %}
                </el-card>
            </el-col>
        </el-row>
    </div>



    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                show: true
            },
            methods: {
                backToIndex() {
                    window.location.href="/";
                }
            }
        })
    </script>

</body>
</html>