{#{% load static from staticfiles %}#}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>
    <link rel="stylesheet" href="{% static "webapp/resetpassword.css" %}" type="text/css">

    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>
    <img src="{% static "webapp/images/bkg_login.png" %}" id="bkg">

    <div id="app">
        <el-row>
            <el-col :span="16" :offset="8">
                <h1>重置密码</h1>
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <el-steps :space="300" :active="1" finish-status="success">
                      <el-step title="填写邮箱"></el-step>
                      <el-step title="接收邮件"></el-step>
                      <el-step title="修改密码"></el-step>
                        <el-step title="修改成功"></el-step>
                    </el-steps>
                  </div>
                    <span>链接已经发送至邮箱，请查收</span>
                    <el-button style="float: right; padding: 3px 0; color: #8080ff" type="text" @click="backToIndex()">返回主页</el-button>
                </el-card>
            </el-col>
        </el-row>
    </div>


    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                show: true
            },
            methods: {
                backToIndex() {
                    window.location.href="/";
                }
            }
        })
    </script>

</body>
</html>