{#{% load static from staticfiles %}#}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>注册 - 优扬实验室</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "webapp/login.css" %}" type="text/css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="row">

            <! --左图-->
            <div class="col-md-6 col-0 pic">



            </div>

            <! --右文-->
            <div class="col-md-6 col-12">

                    <!--   样式和位置可能不对 -->
                {% if message %}

                    <script>

                        Vue.prototype.$message('{{message}}');

                    </script>

<!--                    <p>啥都没有啊</p>-->
                {% endif%}

                <div class="t">

                    <h2><a href="{% url 'webapp:signin'%}">登录</a></h2> |
                    <h2>注册</h2>

                </div>

                <div class="form">

                    <form class="s" method="POST">

                        <div>
                                {% csrf_token %}
                        {% for field in registration_form %}

                                {{field}}
                                {%for error in field.errors %}
                                    <div class="login_error" style="display:none;"><small style="color: red;">{{error}}</small></div>
                                {% endfor %}
                        {% endfor %}
                        </div>


                        <script>

                        document.getElementById("id_email").placeholder="请输入您的邮箱";
                        document.getElementById("id_password1").placeholder="密码需由数字，大小写字母组成";
                        document.getElementById("id_password2").placeholder="请再次确认密码";
<!--                        document.getElementById("id_captcha_1").placeholder="请输入验证码";-->

                        //$(".login_error").fadeOut(4000);

                        </script>

                        <input class="disable-button" type="submit" value="sign up">
                        <input class="able-button" type="submit" value="sign up !">

                        <script>

                            function fun() {
                                var a = document.getElementById("id_email").value;
                                var b = document.getElementById("id_password1").value;
                                var c = document.getElementById("id_password2").value;
<!--                                var d = document.getElementById("id_captcha_1").value;-->

                                if(a != "" && b != "" && c != "" && d != "") {
                                    $(".able-button").fadeIn(500);
                                    $(".disable-button").hide();
                                } else {
                                    $(".able-button").hide();
                                    $(".disable-button").fadeIn(500);
                                }
                            }

                            $(".able-button").hide();
<!--                            document.getElementById("id_captcha_1").setAttribute("oninput", "fun()");-->
                            document.getElementById("id_email").setAttribute("oninput", "fun()");
                            document.getElementById("id_password1").setAttribute("oninput", "fun()");
                            document.getElementById("id_password2").setAttribute("oninput", "fun()");

                        </script>

                    </form>

                </div>

                <div class="forget">

                    <p><a href="{% url 'webapp:index'%}">取消</a></p>

                </div>

                {% if registration_form.errors %}
                
                    <div class="alert alert-danger" role="alert" id="alert-danger"></div>

                {% endif %}

            </div>

        </div>

    </div>

</body>

<script>

    function type_of_error(str) {
        var used = /exist/i;
        var too_common = /common/i;
        var eight_char = /8/;
        var match = /match/i;

        if(str.search(used) != -1) {
            return "邮箱已被注册";
        } else if(str.search(too_common) != -1) {
            return "密码太过于常见";
        } else if(str.search(eight_char) != -1) {
            return "密码至少要8个字符";
        } else if(str.search(match) != -1) {
            return '两次密码不同';
        }

    }

    var errors = document.getElementsByClassName("login_error");
    var text;

    for(i=0;i<errors.length;i++) {
        text = type_of_error(errors[i].innerHTML);
        if(i != errors.length - 1) {
            text += '<br>';
        }
        document.getElementById("alert-danger").innerHTML += text;
    }

    $('#alert-danger').delay(1000).fadeOut(1000);

</script>