{#{% load static from staticfiles %}#}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>登陆 - 优扬实验室</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "webapp/login.css" %}" type="text/css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="row">

            <! --左图-->
            <div class="col-md-6 col-0 pic">


            </div>

            <! --右文-->
            <div class="col-md-6 col-12">

                <div class="t">

                    <h2>Log in</h2> |
                    <h2><a href="{% url 'webapp:signup'%}">Sign up</a></h2>

                </div>

                <div class="form">
                    <form  method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {{field}}
                                {%for error in field.errors %}
                                    <div class="login_error"><small style="color: red;">{{error}}</small></div>
                                {% endfor %}
                        {% endfor %}
                        <input type="submit" class="disable-button" value="提交">
                        <input type="submit" class="able-button" value="提交！">

                    </form>
                </div>

                <script>


                     function test() {
                        var mail = document.getElementById("id_email").value;
                        var pwd = document.getElementById("id_password").value;
                        if(mail != "" && pwd != "") {
                            $(".able-button").show();
                            $(".disable-button").hide();
                        }
                    }

                    var mail = document.getElementById("id_email").value;
                    var pwd = document.getElementById("id_password").value;

                    if(mail != "" && pwd != "") {
                        $(".disable-button").hide();
                    } else {
                        $(".able-button").hide();
                    }

                    document.getElementById("id_email").setAttribute("oninput", "test()");
                    document.getElementById("id_password").setAttribute("oninput", "test()");

                </script>


                <div class="forget">

                    <p><a href="{% url 'webapp:forget'%}">忘记密码 ?</a> or <a href="{% url 'webapp:index'%}">取消</a></p>

                </div>

            </div>

        </div>

    </div>

</body>