{#{% load static from staticfiles %}#}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "webapp/login.css" %}" type="text/css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="row">

            <! --左图-->
            <div class="col-md-6 col-0 pic">



            </div>

            <! --右文-->
            <div class="col-md-6 col-12">

                <div class="t">

                    <h2><a href="{% url 'webapp:signin'%}">Log in</a></h2> |
                    <h2>Sign up</h2>

                </div>

                <div class="form">

                    <form class="s" method="POST">

                        {% csrf_token %}
                        {% for field in registration_form %}
<!--                            {% if field.label == "Email" %}-->
<!--                              <br> 注册邮箱: {{field}} <br>-->
<!--                            {% endif%}-->
<!--                            {% if field.label == "Password"%}-->
<!--                              <br> 输入密码: {{field}} <br>-->
<!--                            {% endif%}-->
<!--                            {% if field.label == "Password confirmation" %}-->
<!--                              <br> 确认密码: {{field}} <br>-->
<!--                            {% endif%}-->

                                {{field}}

<!--                                {% if field.help_text %}-->
<!--                                    <small style="color: grey;">{{field.help_text}}</small>-->
<!--                                {% endif %}-->

                                {%for error in field.errors %}
                                    <br><small style="color: red;">{{error}}</small><br>
                                {% endfor %}



                        {% endfor %}


                        <script>
                        document.getElementById("id_email").placeholder="请输入您的邮箱";
                        document.getElementById("id_password1").placeholder="密码需由数字，大小写字母组成";
                        document.getElementById("id_password2").placeholder="请再次确认密码";

                        </script>

                        <input type="submit" value="sign up">

                    </form>

                </div>

                <div class="forget">

                    <p><a href="{% url 'webapp:index'%}">取消</a></p>

                </div>
            </div>

        </div>

    </div>

</body>