{#{% load static from staticfiles %}#}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>登陆 - 优扬实验室</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "webapp/login.css" %}" type="text/css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="row">

            <! --左图-->
            <div class="col-md-6 col-0 pic">



            </div>

            <! --右文-->
            <div class="col-md-6 col-12">

                <div class="t">

                    <h2>Log in</h2> |
                    <h2><a href="{% url 'webapp:signup'%}">Sign up</a></h2>

                </div>

                <div class="form" method="post" action="#">

                    <form>

                        <input class="info" type="email" placeholder="Email"><br>
                        <input class="info" type="password" placeholder="Password"><br>
                        <input type="submit" value="log in">

                    </form>

                </div>

                <div class="forget">

                    <p><a href="{% url 'webapp:forget'%}">忘记密码 ?</a> or <a href="{% url 'webapp:index'%}">取消</a></p>

                </div>

            </div>

        </div>

    </div>

</body>