{% extends 'navbar.html' %}

{#{% load static from staticfiles %}#}
{% load static %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
<link rel="stylesheet" href="{% static 'webapp/usr.css' %}" type="text/css">

<div class="bar"><p>User space</p></div>

<div class="content" :style="'height: ' + screenHeight + 'px;'">
    <el-row :gutter="40">
        <el-col :lg="{span: 4, offset: 6}" class="user">
            <el-card shadow="hover">
                <el-avatar :size="50" :src="circleUrl"></el-avatar>
                <div>
                    <div class="name">name</div>
                    <div class="mail">123456@mail.com</div>
                    <div class="age">age</div>
                </div>
                <el-divider></el-divider>
                <a><div>personal infos</div></a>
                <a><div>course</div></a>
                <el-divider></el-divider>
                <div class="icon">
                    <a><img src="{% static 'webapp/images/icon/github.svg' %}"></a>
                </div>
            </el-card>
        </el-col>

        <el-col :lg="{span: 8}" class="courses">
            <div>
                <div class="card">
                    <el-row>
                        <el-col :span="8">
                             <img src="{% static 'webapp/images/ROS/ROS2.jpeg' %}" alt="img2">
                        </el-col>
                        <el-col :span="16">
                            <div class="describe">
                                <div class="title">qwewqe</div>
                                <div class="prog">progress: 1/2</div>
                            </div>
                        </el-col>
                    </el-row>
                </div>
                <el-divider></el-divider>
                <div class="card">
                    <el-row>
                        <el-col :span="8">
                             <img src="{% static 'webapp/images/ROS/ROS2.jpeg' %}" alt="img2">
                        </el-col>
                        <el-col :span="16">
                            <div class="describe">qweqwe</div>
                        </el-col>
                    </el-row>
                </div>
                <el-divider></el-divider>
                <div class="card">
                    <el-row>
                        <el-col :span="8">
                             <img src="{% static 'webapp/images/ROS/ROS2.jpeg' %}" alt="img2">
                        </el-col>
                        <el-col :span="16">
                            <div class="describe">qweqwe</div>
                        </el-col>
                    </el-row>
                </div>
                <el-divider></el-divider>
                <div class="card">
                    <el-row>
                        <el-col :span="8">
                             <img src="{% static 'webapp/images/ROS/ROS2.jpeg' %}" alt="img2">
                        </el-col>
                        <el-col :span="16">
                            <div class="describe">qweqwe</div>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </el-col>
    </el-row>
</div>

<script>
  var vm = new Vue({
    el: '#app',
    data: {
        screenHeight: document.documentElement.clientHeight - 74 - 215 - 70,
        circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
    },
  })
</script>
{% endblock %}
